<div class="marketing__section">
  <div class="marketing__tweets">
    <div class="marketing__tweet">
      <div class="tweet__body">
        <p>
          <q>J'adore le nouveau <a href="https://twitter.com/WhatDoTheyKnow">@Okfn</a> Madada ++</q>
          <cite><a href="https://twitter.com/Charlie_Mole/status/881824926738644992">Charlie Mole – <%= _('3 July 2017') %></a></cite>
        </p>
      </div>
    </div>

    <div class="marketing__tweet">
      <div class="tweet__body">
        <p>
          <q>Je viens juste d'envoyer une demande de commuincation <a href="https://twitter.com/Okfn">@okfn</a> <a href="https://twitter.com/WhatDoTheyKnow">@WhatDoTheyKnow</a> et c'était vraiment une expérience utilisateur très agréable.

          <br />

          Aucun doute qu'il s'agit là d'un site à ajouter à la boîte à outils de chaque journaliste.</q>

          <cite><a href="https://twitter.com/matthewhughes/status/1122801543839981569">Matthew Hughes – <%= _('29 April 2019') %></a></cite>
        </p>
      </div>
    </div>
  </div>
</div>
